@import libs
@import fonts
@import vars

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #757575
	opacity: 1

*:-moz-placeholder
	color: #757575
	opacity: 1

*::-moz-placeholder
	color: #757575
	opacity: 1

*:-ms-input-placeholder
	color: #757575
	opacity: 1

html, body
	min-height: 100%
	margin: 0
	padding: 0

body
	min-height: 100vh
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.4
	font-family: $font
	overflow-x: hidden
	opacity: 1
	-webkit-font-smoothing: antialiased
	& > svg
		display: none
	&.nav-opened
		overflow-y: hidden

a
	color: $gray
	&:hover,
	&:focus
		color: $gray_h
		text-decoration: none

p
	margin: 0 0 1em 0
	color: #000
	font-size: 20px
	line-height: 1.35

b
	font-weight: 800
	color: #5e5e5e

h1, h2, h3, h4, h5, h6
	margin: 1.2em 0 1em
	color: #5e5e5e
	font-weight: 800

h1
	font-size: 30px

h2
	font-size: 24px

h3
	font-size: 22px

h4
	font-size: 16px

h5
	font-size: 14px

h6
	font-size: 12px

.wrapper
	position: relative
	display: flex
	min-height: 100vh
	flex-direction: column
	.main
		flex: 2 0 auto

.img-responsive
	display: block
	max-width: 100%
	height: auto

.fleft
	float: left

.fright
	float: right

.btn
	z-index: 1
	position: relative
	display: inline-block
	min-width: 170px
	margin: .6em 0
	padding: 12px 25px 11px 25px
	border-radius: 4px
	overflow: hidden
	border: 1px solid #d72e0b
	color: $gray
	text-transform: uppercase
	font-size: 16px
	font-weight: 400
	background-color: transparent
	text-align: center
	cursor: pointer
	&:hover,
	&:focus
		color: #fff
		background-color: #d72e0b
	&.btn-red
		color: white
		box-shadow: 0 18px 38px rgba(255,255,255,.08)
		background: #d72e0b
		background: linear-gradient(135deg, #d72e0b 0%,#ee7828 100%)
		&:hover,
		&:focus,
		&:active,
		&:active:focus
			background: #d72e0b
			background: linear-gradient(135deg, #d72e0b 0%, #d72e0b 100%)

.btn-h
	padding: 15px 25px

.btn-group
	display: block
	width: 100%
	text-align: center

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"]
	width: 250px
	height: 42px
	padding: 0 15px
	line-height: 42px
	border: none
	border-bottom: 2px solid #e1e1e1
	color: $gray
	font-size: 14px
	box-shadow: none
	background-color: #fff
	border-radius: 2px
	-webkit-appearance: none
	transition: all .25s ease
	&:focus
		border-bottom: 2px solid #d72e0b
		outline: none

textarea
	width: 100%
	min-height: 115px
	padding: 10px 18px
	border: 1px solid #efefef
	color: #666
	font-size: 14px
	box-shadow: none
	background-color: #fff
	border-radius: 2px
	transition: all .25s ease

input.error
	border: 1px solid #f81d17 !important

.nowrap
	white-space: nowrap

.section-b
	padding: 30px 0

.section-header
	margin-bottom: 28px
	text-align: center

.section-desc
	max-width: 90%
	margin: 0 auto
	font-size: 14px
	color: $gray

.section-title,
.article h1
	margin: 0 0 20px 0
	font-size: 40px
	font-weight: 800
	color: $gray
	line-height: 1.3
	text-transform: uppercase
	letter-spacing: 1px

.article
	padding-bottom: 25px
	header
		padding: 35px 0 0 0
	h2, h3, h4, h5, h6
		margin: 1em 0 .8em 0
		color: $gray
	h1
		font-size: 30px
	h2
		font-size: 24px
		text-transform: uppercase
	h3
		font-size: 16px
	h4
		font-size: 14px
	h5
		font-size: 12px
	h6
		font-size: 10px
	p
		margin: 0 0 1em 0
		font-size: 14px
		line-height: 1.3
		color: #757575
	ul
		list-style-type: round
		li
			margin-bottom: 12px
			font-size: 20px
	img
		max-width: 100%
	svg + h3
		margin: .2em 0 .5em 0
	.accordion
		border: 1px solid #e1e1e1
		border-radius: 4px
		.card
			padding: 0
			&-header
				padding: 0 20px
				background-color: transparent
				border-bottom: none
			h5
				margin: 0
				padding: 16px 0
				border-bottom: 1px solid #e1e1e1
				a
					display: block
					width: 100%
					font-size: 18px
					font-weight: 400
					color: $gray
					i
						float: right
						font-size: 22px
			&-body
				padding: 14px 20px 14px 20px
				font-size: 14px
				color: #757575
				li
					font-size: 14px

.main-header
	z-index: 1
	min-height: 120px
	box-shadow: 0 5px 25px rgba(0,0,0,.2)
	& > .container
		position: relative

.logo
	z-index: 1
	position: absolute
	top: 10px
	left: 15px

// Search

.search-wrap
	padding-left: 70px
	&.active
		.search-form
			z-index: 100
			visibility: visible
			opacity: 1
			bottom: -60px
			right: 0

.search-form
	z-index: -1
	visibility: hidden
	opacity: 0
	position: absolute
	bottom: -80px
	right: 0
	width: 390px
	height: 46px
	transition: all .4s ease
	&:after
		content: ''
		position: absolute
		top: -15px
		right: 25px
		border: 8px solid transparent
		border-bottom: 8px solid #fff

.search-form input[type="text"]
	position: relative
	top: -1px
	width: 390px
	height: 46px
	border: none
	outline: none
	border-radius: 4px
	line-height: 46px
	background: #fff
	color: $gray
	box-shadow: 0 5px 10px rgba(0,0,0,.1)
	transition: all .5s cubic-bezier(.77,0,.175,1)
	&:hover,
	&:focus
		border: none

.search-btn
	position: relative
	top: 0
	padding: 4px 10px
	background-color: transparent
	box-shadow: none
	border: 0
	font-size: 18px
	color: $gray
	cursor: pointer

.search-submit
	position: absolute
	top: 50%
	right: 10px
	margin-top: -19px
	font-size: 24px
	color: #757575
	background-color: transparent
	box-shadow: none
	border: 0
	cursor: pointer
	&:hover
		color: #333


// ---------------------------------------------------------

.signin
	position: relative
	top: 35px
	a
		font-size: 12px
		font-weight: 800
		color: $gray
		text-transform: uppercase
		&:hover
			color: #888
	i
		margin-right: 6px

.city-select
	position: absolute
	top: 35px
	left: 175px
	font-size: 15px
	&-title
		color: #757575
	&-link
		color: $gray
		border-bottom: 1px dashed

.top-line
	height: 92px
	border-bottom: 1px solid #e1e1e1


.contact-b
	position: absolute
	top: 24px
	left: 50%
	a
		font-size: 28px
		color: #006338
		&:hover
			color: #888

// Nav

.navbar
	z-index: 10
	position: relative
	padding: 0
	.container
		position: relative
	&-nav
		width: 100%
		justify-content: space-between
		.nav-item
			position: relative
			padding: 0
			&.dropdown
				&:after
					content: ''
					position: absolute
					bottom: 1px
					left: 50%
					border: 6px solid transparent
					border-top: 6px solid #66a188
					margin-left: -6px
		.nav-link
			&:hover,
			&:focus,
			&:active
				color: #999

.navbar-expand-lg .navbar-nav
	.nav-link
		padding-right: 0
		padding-left: 0

.nav-link
	padding: 14px 0 14px 0
	font-size: 12px
	font-weight: 800
	color: #006338
	text-transform: uppercase

.navbar-collapse
	position: relative
	text-align: right

.dropdown-toggle::after
	display: none

.dropdown-menu
	z-index: 1
	margin: 0
	padding: 15px 10px 10px 10px
	border: none
	background-color: #f0f0f0
	border-radius: 0 0 4px 4px
	box-shadow: 0 5px 10px rgba(0,0,0,.16)
		
.dropdown-item
	position: relative
	display: block
	width: auto
	padding: 10px 0
	color: $gray
	font-size: 12px
	font-weight: bold
	white-space: normal
	border-bottom: 1px solid #e1e1e1
	&:focus,
	&:hover
		background-color: transparent
		color: #999
	&:last-child
		border-bottom: none

// Promo

.promo
	position: relative
	width: 100%
	color: #fff
	.container
		position: relative
	&-slider
		position: relative
		width: 100%
		height: 600px
		overflow: hidden
	.promo-slide
		height: 600px
	.slide-wrap
		height: 100%
		padding-top: 75px
		background-position: center center
		background-repeat: no-repeat
		background-size: cover
	.h1
		position: relative
		margin: 0 0 .9em 0
		padding-bottom: .9em
		font-size: 40px
		font-weight: bold
		line-height: 1.2
		letter-spacing: .5px
		text-transform: uppercase
		color: #fff
		&:after
			content: ''
			position: absolute
			bottom: 0
			left: 0
			width: 180px
			height: 5px
			background-color: #d72e0b
	p
		font-size: 24px
		color: #fff
	.slider-nav
		position: absolute
		top: 50%
		left: 0
		width: 100%
		margin-top: -45px
	.slick-arrow
		position: absolute
		top: 0
		left: 0
		&:hover
			opacity: .8
	.contact-form-b
		max-width: 100%
		width: 385px
		margin-top: 15px

.pagingInfo
	position: absolute
	bottom: 90px
	left: 15px
	font-size: 16px
	.current
		font-size: 24px
	.overall
		opacity: .5
		font-size: 16

.contact-form-b
	width: 385px
	padding: 70px 32px 0 32px
	background-color: #fff
	.form-title
		position: relative
		margin-bottom: 1.2em
		font-size: 24px
		color: $gray
		line-height: 1.2
		&:before
			content: ''
			position: absolute
			top: 50%
			left: -32px
			width: 5px
			height: 100%
			min-height: 45px
			transform: translateY(-50%)
			background-color: #d72e0b

.contact-form
	.form-group
		margin-bottom: 40px
	input
		width: 100%

// Delivery

.delivery
	padding-bottom: 40px
	background-color: #f0f0f0

.logistic-forms
	position: relative
	top: -10px
	margin-bottom: 40px

.delivery-form
	position: relative
	height: 150px
	padding: 15px 25px 15px 16px
	border-bottom: 5px solid #d72e0b
	box-shadow: 0 0 25px rgba(0,0,0,.1)
	background-color: #fff
	border-radius: 4px
	overflow: hidden
	&:after
		z-index: 0
		content: "\f101"
		position: absolute
		top: 0
		left: -10px
		opacity: .05
		font: normal normal normal 420px/.28 FontAwesome
		text-rendering: auto
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
	.form-group
		margin-bottom: 5px
		input
			z-index: 10
			position: relative
			background-color: transparent
	.form-title
		margin-bottom: 0
		font-size: 16px
		font-weight: 800
		color: $gray
		text-transform: uppercase
		text-align: center
	.btn
		z-index: 10
		position: absolute
		top: 0
		right: 0
		width: 10px
		height: 100%
		min-width: 30px
		margin: 0
		padding: 0
		border-radius: 0 4px 0 0
		background: linear-gradient(0deg, #d72e0b 0%,#ee7828 100%)
		font-size: 20px
	.centered
		margin-top: 20px 

.delivery-list
	margin: 25px 0
	padding: 0
	list-style-type: none
	li
		position: relative
		float: left
		width: calc(20% - 3px)
		height: 185px
		margin: 0 3px 3px 0
		padding: 0 20px
		vertical-align: top
		background-repeat: no-repeat
		background-position: center center
		background-size: cover
		transition: all .3s ease
		overflow: hidden
		&:nth-child(1)
			background-color: #0b3f1d
		&:nth-child(2)
			background-color: #0b5125
		&:nth-child(3)
			background-color: #0a6d34
		&:nth-child(4)
			background-color: #0b8a41
		&:nth-child(5)
			background-color: #0b9c4a
		&:last-child
			margin-right: 0
		&:hover
			margin-top: -10px
		a
			display: block
			width: 100%
			height: 185px
			transition: all .3s ease
			span
				display: block
				width: 100%
				font-size: 18px
				font-weight: 800
				color: #fff
				text-align: center
				text-transform: uppercase
				position: relative
				top: 50%
				transform: translateY(-50%)
	.twobuilding-i,
	.building-i
		position: absolute
		bottom: 0
		right: 50%
		transform: translateX(50%)
	.twobuilding-i
		bottom: -14px
	.earth2-i,
	.agreement-i,
	.russia-i
		position: absolute
		top: 50%
		right: 50%
		transform: translate(50%, -50%)

.twobuilding-i
	width: 120px
	height: 150px
	fill: #fff

.building-i
	width: 170px
	height: 140px
	fill: #fff	

.earth2-i
	width: 135px
	height: 135px
	fill: #fff

.agreement-i
	width: 130px
	height: 130px
	fill: #fff

.russia-i
	width: 200px
	height: 120px
	background-image: url(../img/russia.png)
	background-repeat: no-repeat
	background-size: cover
	
.twobuilding-i,
.building-i,
.earth2-i,
.agreement-i
	opacity: .08

// Weare

.parallax
	position: absolute

.weare
	position: relative
	height: 300px
	overflow: hidden
	.container
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

.weare-list
	margin: 0
	padding: 0
	list-style-type: none
	text-align: justify
	li
		float: left
		width: 20%
		margin-bottom: 30px
		text-align: center
		color: #fff
		text-transform: uppercase
	.weare-num
		font-size: 48px
		font-weight: 500
		color: #d72e0b

// Cooperation

.cooperation
	padding: 70px 0 25px 0
	background-color: #fff

.cooperation-list
	position: relative
	margin: 80px 0
	padding: 0
	list-style-type: none
	text-align: center
	counter-reset: cooperation
	&:after
		z-index: 0
		content: ''
		position: absolute
		top: 50%
		left: 0
		width: 100%
		height: 148px
		background-image: url(../img/curve.png)
		background-repeat: no-repeat
		background-position: center center
		transform: translateY(-50%)
	li
		z-index: 10
		position: relative
		display: inline-block
		width: 270px
		height: 75px
		margin: 0 20px
		background-color: #fff
		box-shadow: 0 0 25px rgba(0,0,0,.1)
		vertical-align: top
		overflow: hidden
		transition: all .3s ease
		&:before
			counter-increment: cooperation
			content: counter(cooperation)
			position: absolute
			top: 50%
			left: 20px
			font-size: 48px
			font-weight: 100
			color: #006338
			transform: translateY(-50%)
		&:after
			content: "\f101"
			position: absolute
			top: 0
			left: 0
			opacity: .05
			font: normal normal normal 260px/.2 FontAwesome
			text-rendering: auto
			-webkit-font-smoothing: antialiased
			-moz-osx-font-smoothing: grayscale
		&:hover
			background-color: #e6f2ed
		a
			z-index: 10
			position: relative
			top: 50%
			display: block
			padding: 0 50px 0 80px
			text-align: left
			font-size: 18px
			color: $gray
			line-height: 1.2
			transform: translateY(-50%)

// Fulfillment

.fulfillment
	position: relative
	height: 390px
	overflow: hidden
	.container
		position: absolute
		top: 55%
		left: 50%
		transform: translate(-50%, -50%)
	.section-title
		color: #fff

.fulfillment-list
	margin: 0
	padding: 0
	list-style-type: none
	text-align: justify
	&:after
		content: ''
		display: inline-block
		width: 100%
		height: 1px
	li
		display: inline-block
		width: 281px
		margin-bottom: 30px
		padding: 0 25px
		text-align: center
		color: #fff
		background: linear-gradient(45deg, rgba(11,63,28,.6) 0%,rgba(8,156,74,.6) 100%)
		border-radius: 4px
		vertical-align: top
		&:hover
			background: linear-gradient(45deg, rgba(11,63,28,1) 0%,rgba(8,156,74,1) 100%)
		a
			z-index: 10
			position: relative
			display: block
			height: 170px
			span
				position: relative
				top: 50%
				display: block
				width: 100%
				font-size: 18px
				color: #fff
				text-align: center
				transform: translateY(-50%)

// News

.eagle-i
	position: absolute
	top: 20px
	left: -300px
	width: 800px
	height: 420px
	opacity: .05

.news-section
	position: relative
	padding: 70px 0
	overflow: hidden
	.btn-group
		margin-top: 20px

.news-item
	position: relative
	display: block
	min-height: 110px
	height: 100%
	margin-bottom: 20px
	padding: 10px 0
	background-color: #fff
	border-radius: 4px
	border-bottom: 5px solid #d72e0b
	box-shadow: 0 0 25px rgba(0,0,0,.1)
	transition: all .3s ease
	&:hover
		border-bottom: 10px solid #d72e0b
	.news-title
		margin-top: 10px
		margin-bottom: 5px
		font-size: 14px
		color: $gray
		line-height: 1.2
		text-transform: uppercase
	.news-text
		font-size: 14px
		font-weight: 300
		color: #757575
	.news-date
		position: absolute
		bottom: 10px
		left: 5px
		padding: 2px 35px 0 35px
		font-size: 12px
		font-weight: 300
		color: #d72e0b
	.news-content
		margin-bottom: 0
		padding: 0 35px
		border-left: 5px solid #d72e0b


// Catalog

.catalog-section + .new-products,
.catalog-section + .spec-products
	margin-top: -40px

.catalog
	.btn-group
		margin: 30px auto

.category-b
	margin-bottom: 50px
	&-img
		position: relative
		display: block
		height: 355px
		overflow: hidden
		background-color: #e4e4e4
		&:hover:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			border: 3px solid #299ee1
		img
			max-width: 100%
	&-title
		display: block
		margin: 1.1em 0 .8em 0
		font-size: 30px
		font-weight: 800
		color: #5e5e5e
		line-height: 1
	&-footer
		a
			font-size: 20px
			font-weight: 800
			color: #299ee2
			&:first-child
				float: left
			&:last-child
				float: right
			&.category-details
				font-size: 18px	
			span
				font-weight: 300
				color: #000
		.arrow-down-i
			margin-left: 12px

.arrow-down-i
	width: 20px
	height: 12px
	fill: $gray


// =======================================

.card
	height: 100%
	padding: 0 20px
	border: none
	border-radius: 0
	background-color: #fff
	box-shadow: 0 0 18px rgba(0,0,0,.02)
	transition: all .3s ease
	&:hover
		box-shadow: 0 4px 25px rgba(0,0,0,.15)
	.card-body
		padding: 12px 0 80px 0
	.card-title	
		margin-bottom: .5em
		color: #000033
		font-size: 14px
		text-align: left
		line-height: 1.4
	.card-img-top
		max-width: 100%
		margin: 0 auto
	.card-text
		display: table
		width: 100%
		margin: .5em 0
		color: #000
		font-size: 15px
		line-height: 1.6
		td
			padding: 0 10px 0 0
			font-size: 12px
			color: #666
			text-align: left
			&:last-child
				color: #000033
	.btn-group
		display: flex
		justify-content: space-between
		padding-bottom: 4px
	.card-info
		padding-bottom: 10px
		font-size: 12px
		color: #333
	.btn
		min-width: 90px
		margin: 0
		padding: 7px 10px
		font-size: 12px
		color: #fff
		border-radius: 4px !important
	&-footer
		position: absolute
		bottom: 16px
		left: 0
		width: 100%
		padding: 0 20px
		background: transparent
		border: none
		border-radius: 0

// Aside

.aside
	float: left
	width: 250px
	padding: 10px 0
	background-color: #e1e1e1
	margin-bottom: 50px
	box-shadow: 0 6px 25px rgba(0,0,0,.1)
	&-b-title
		margin-top: 20px
		margin-bottom: 10px
		padding: 0 15px
		font-size: 14px
		color: $gray
		line-height: 1.3
		text-transform: uppercase
		border-left: 5px solid #d72e0b
	.aside-b-link
		display: inline-block
		margin-bottom: 10px
		padding: 0 15px
		font-size: 14px
		color: #d72e0b
		line-height: 1.3
		text-transform: uppercase
		border-left: 5px solid #d72e0b
	ul
		margin: 15px 0
		padding: 0 30px
		list-style-type: none
		li	
			margin-bottom: 6px
			font-size: 14px
			font-weight: 300
			color: #757575
			a
				color: #757575

// Footer

.main-footer
	padding: 35px 0 0 0
	background-image: url(../img/footer-bg.jpg)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	box-shadow: 0 -10px 25px rgba(0,0,0,.2)
	.tel
		display: table
		.phone-i,
		.tel-inner
			display: table-cell
			vertical-align: top
		.phone-i
			width: 40px
			height: 36px
			fill: #fff
		.tel-inner
			padding-left: 10px
			font-size: 18px
			font-weight: 100
			color: #fff
			line-height: 1.2
		.sub-tel
			font-size: 14px
			color: #bac1bc
			line-height: 1.5
	.contact-b
		position: relative
		top: inherit
		left: inherit
		display: inline-block
		padding-left: 50px
		vertical-align: middle
	.address
		display: table
		font-size: 16px
		font-weight: 300
		.pin-i,
		span
			display: table-cell
			vertical-align: top
		span
			font-size: 16px
			font-weight: 100
			color: #fff
	.email
		font-size: 16px
		font-weight: 100
		color: #fff
	.mail-i
		display: inline-block
		width: 38px
		height: 28px
		margin-right: 10px
		fill: #fff
		stroke: #fff
		stroke-width: 3px
		vertical-align: middle


.pin-i
	width: 40px
	height: 40px
	margin-right: 10px
	fill: #fff

.site-map-i
	width: 22px
	height: 20px
	fill: #fff
	margin-right: 8px

.siteMap
	margin: 0
	padding: 4px 10px
	font-size: 24px
	font-weight: 100
	text-transform: capitalize
	color: #fff
	border-color: rgba(255,255,255,.5)
	&:hover
		background-color: #fff
		color: $gray
		.site-map-i
			fill: $gray
	i
		margin-left: 15px
		opacity: .8

#siteMap
	position: relative
	top: 30px
	margin: 0
	padding: 25px 0 0 0
	border-top: 1px solid rgba(240,240,240,.2)

.f-title
	margin-bottom: 10px
	font-size: 16px
	font-weight: bold
	color: #fff
	text-transform: uppercase

.f-nav
	position: relative
	margin-bottom: 30px
	a
		display: block
		margin-bottom: 6px
		padding-left: 20px
		font-size: 14px
		font-weight: 300
		color: #bac1bc
		background-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="9px" height="5px"><path fill-rule="evenodd"  fill="rgb(238, 117, 42)" d="M6.913,4.999 L5.142,4.999 L7.230,2.500 L5.142,0.001 L6.913,0.001 L9.001,2.500 L6.913,4.999 ZM-0.001,4.999 L2.087,2.500 L-0.001,0.001 L1.770,0.001 L3.858,2.500 L1.770,4.999 L-0.001,4.999 Z"/></svg>')
		background-position: 0 .5em
		background-repeat: no-repeat
		&:hover
			color: #fff

.f-col
	display: inline-block
	width: 220px
	margin-right: 25px
	vertical-align: top
	&:last-child
		.f-nav
			a
				padding: 0
				font-size: 16px
				font-weight: bold
				color: #fff
				margin-bottom: 15px
				text-transform: uppercase
				background-image: none
				&:hover
					opacity: .8

.soc
	margin-top: 18px
	margin-bottom: 35px
	a
		position: relative
		display: inline-block
		width: 35px
		height: 35px
		margin-left: 3px
		border-radius: 50%
		background-color: transparent
		border: 2px solid #85a898
		text-align: center
		&:hover
			background-color: #85a898
		i
			color: #fff
			line-height: 30px	

.copyright
	margin-top: 35px
	margin-bottom: 30px
	border-top: 1px solid rgba(240,240,240,.2)
	&-text
		font-size: 12px
		color: #bac1bc
		line-height: 1.3

.developer
	display: inline-block
	margin-top: 10px
	text-align: right
	font-size: 11px
	font-family: Arial, sans-serif
	color: #f1f1f1
	&:hover
		color: #fff
		text-decoration: underline


//===================================================

// Breadcrumb

.breadcrumb
	margin-bottom: 0
	padding: 16px 0
	background-color: #f6f6f6
	border-radius: 0
	& + .inner-content
		padding-top: 20px
	ul
		margin: 0
		padding: 0
		list-style-type: none
		li
			float: left
			font-size: 13px
			color: #bac1bc
			font-weight: 100
			&:after
				content: "\f101"
				margin: 0 8px
				display: inline-block
				font: normal normal normal 14px/1 FontAwesome
				font-size: inherit
				color: #757575
				text-rendering: auto
				-webkit-font-smoothing: antialiased
				-moz-osx-font-smoothing: grayscale
			&:last-child:after
				display: none
			a
				color: #757575
				font-weight: 100
				text-decoration: underline


// Inner

.content-inner
	margin-top: 30px
	.article
		margin-left: 290px
		padding-bottom: 60px

.delivery-advantage-i
	width: 55px
	height: 55px
	fill: #0a6d34

.delivery-row
	div[class^="col-"]
		margin-bottom: 15px

// Hamburger

.navbar-toggler
	z-index: 10
	position: relative
	width: 30px
	height: 23px
	margin: 0
	padding: 0
	transition-duration: 0.5s
	background: transparent
	border: none
	outline: none
	border-radius: 0
	cursor: pointer
	&:focus
			outline: none
	.navbar-toggler-icon
		position: absolute
		height: 4px
		width: 30px
		top: 9px
		left: 0
		border-radius: 0
		background-color: #482e26
		&:before
			position: absolute
			width: 30px
			height: 4px
			background-color: #482e26
			content: ""
			top: -9px
			left: 0px
			border-radius: 0
			transition: all .3s ease 
		&:after
			position: absolute
			width: 30px
			height: 4px
			background-color: #482e26
			content: ""
			top: 9px
			left: 0
			border-radius: 0
			transition: all .3s ease 
	&.active
		&:hover 
			cursor:pointer 
		&:focus
			outline: none
		.navbar-toggler-icon
			background: transparent
			&:before
				transform: rotateZ(45deg) translate(9px, 6px)
			&:after
				transform: rotateZ(-45deg) translate(9px, -7px)

.close-btn
	display: none
	position: absolute
	top: 0
	right: 0
	width: 30px
	height: 30px
	border: none
	background-color: transparent
	cursor: pointer
	&:after,
	&:before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 30px
		height: 8px
		background-color: #fff
		transform: rotate(45deg)
	&:before
		transform: rotate(-45deg)
	&:focus
		outline: none
	&:hover
		&:after,
		&:before
			background-color: #eee
	&__light
		&:after,
		&:before
			content: ''
			width: 22px
			height: 2px

// Modal

.modal
	&-content
		background-color: #fff
	&-body
		padding: 25px 25px 1px 25px
		max-width: 490px
	&-content
		.close-btn
			display: block
			top: 25px
			right: 10px
			&:after,
			&:before
				background-color: $gray
	.contact-form
		max-width: 100%
		margin: 0
		padding: 0
		box-shadow: none
		label
			padding: 0 18px
		input
			width: 100%
		.btn-submit
			margin: 0.4em 0
			padding: 8px 30px
			border-radius: 8px
			font-weight: 400

.modal-header
	padding: 20px 0 0 0
	border: none

.modal-title
	margin: 0 auto
	font-size: 24px
	font-weight: normal 
	color: #333

.modal-backdrop
	background-color: #434343
	&.show
		opacity: .63

@import "media"